ul.menu.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ul.menu.vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

#title {
    margin-left: 15px;
}

li.services {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    margin-right: 15px;
}

li.services a {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: 50px;
    /*width: 100px;*/

    color: var(--quick-silver);
    text-decoration: none;
}

li.services a svg {
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 50px;
    color: var(--quick-silver);
}

li.services:hover a svg {
    color: var(--lemon, #fffa00ff);
}


@media screen and (max-width: 1280px) {
    #coffee, #better, #sprint, #software {
        display: none;
    }
    #coffeeAlt, #betterAlt, #sprintAlt, #softwareAlt {
        display: contents;
    }
    li.services {
        padding: 0 1em 0 0;
    }
}
@media screen and (max-width: 800px) {
    #coffeeAlt, #betterAlt, #sprintAlt, #softwareAlt {
        display: none;
    }
    li.services {
        padding: 0;
    }
}